{% extends "base.html" %}

{% block title %}Table{% endblock %}

{% block content %}
<div class="m-4" id="table-content">
    <button class="btn btn-primary my-4" onclick="openAddModal()">
        Add Item
    </button>
    <div id="itemsTable" class="overflow-x-auto mt-4" hx-swap-oob="true">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data_source %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>
                        <div class="flex gap-3">
                            <button class="btn btn-primary"
                                    onclick="openEditModal('{{ row[0] }}', '{{ row[1] }}', '{{ row[2] }}', '{{ row[3] }}')">
                                Edit
                            </button>
                            <button class="btn btn-error"
                                    onclick="openDeleteModal('{{ row[0] }}')">
                                Delete
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<dialog id="addModal" class="modal">
    <div class="modal-box">
        <h2 class="text-lg font-bold mb-4">Add New Item</h2>
        <form
            hx-post="/table/add_item"
            hx-target="#itemsTable"
            hx-swap="innerHTML"
            hx-ext="json-enc"
            hx-on::after-request="if (event.detail.successful) resetAddForm(this); else openErrorModal()"
        >
            <div class="grid grid-cols-[1fr_2fr] gap-4 mb-4">
                <div class="flex flex-col space-y-4">
                    <label for="name" class="label label-text h-10">Name:</label>
                    <label for="category" class="label label-text h-10">Category:</label>
                    <label for="value" class="label label-text h-10">Value:</label>
                    <label for="description" class="label label-text h-10">Description:</label>
                </div>
                <div class="space-y-4">
                    <div class="form-control">
                        <input type="text"
                               id="name"
                               name="name"
                               placeholder="Name"
                               required
                               class="input input-bordered">
                    </div>
                    <div class="form-control">
                        <select id="category" name="category" required class="select select-bordered">
                            <option value="" disabled selected>Select Category</option>
                            {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-control">
                        <input type="number"
                               id="value"
                               name="value"
                               placeholder="Value"
                               required
                               class="input input-bordered">
                    </div>
                    <div class="form-control">
                        <input type="text"
                               id="description"
                               name="description"
                               placeholder="Description"
                               required
                               class="input input-bordered">
                    </div>
                </div>
            </div>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" onclick="closeAddModal()" class="btn">Close</button>
            </div>
        </form>
    </div>
</dialog>
<dialog id="deleteModal" class="modal">
    <div class="modal-box">
        <h2 class="text-lg font-bold mb-4">Confirm Deletion</h2>
        <p>Are you sure you want to delete item <strong id="deleteItemName"></strong>?</p>
        <form
            id="deleteForm"
            hx-post="/table/delete_item"
            hx-target="#itemsTable"
            hx-swap="innerHTML"
            hx-ext="json-enc"
            hx-on::after-request="if (event.detail.successful) closeDeleteModal(); else openErrorModal()"
        >
            <input type="hidden" id="deleteName" name="name">
            <div class="modal-action">
                <button type="submit" class="btn btn-error">Yes, Delete</button>
                <button type="button" onclick="closeDeleteModal()" class="btn">Cancel</button>
            </div>
        </form>
    </div>
</dialog>
<dialog id="errorModal" class="modal" style="z-index: 1000;">
    <div class="modal-box">
        <h2 class="text-lg font-bold mb-4">Error</h2>
        <p>An error occurred. Please try again later.</p>
        <div class="modal-action">
            <button type="button" onclick="closeErrorModal()" class="btn">Close</button>
        </div>
    </div>
</dialog>
<dialog id="editModal" class="modal">
    <div class="modal-box">
        <h2 class="text-lg font-bold mb-4">Edit Item</h2>
        <form
            id="editForm"
            hx-post="/table/edit_item"
            hx-target="#itemsTable"
            hx-swap="innerHTML"
            hx-ext="json-enc"
            hx-on::after-request="if (event.detail.successful) closeEditModal(); else openErrorModal()"
        >
            <div class="grid grid-cols-[1fr_2fr] gap-4 mb-4">
                <div class="flex flex-col space-y-4">
                    <label for="editName" class="label label-text h-10">Name:</label>
                    <label for="editCategory" class="label label-text h-10">Category:</label>
                    <label for="editValue" class="label label-text h-10">Value:</label>
                    <label for="editDescription" class="label label-text h-10">Description:</label>
                </div>
                <div class="space-y-4">
                    <div class="form-control">
                        <input type="text"
                               id="editName"
                               name="name"
                               placeholder="Name"
                               class="input input-bordered"
                               readonly="readonly">
                    </div>
                    <div class="form-control">
                        <select id="editCategory" name="category" required class="select select-bordered">
                            <option value="" disabled selected>Select Category</option>
                            {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-control">
                        <input type="number"
                               id="editValue"
                               name="value"
                               placeholder="Value"
                               required
                               class="input input-bordered">
                    </div>
                    <div class="form-control">
                        <input type="text"
                               id="editDescription"
                               name="description"
                               placeholder="Description"
                               required
                               class="input input-bordered">
                    </div>
                </div>
            </div>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" onclick="closeEditModal()" class="btn">Close</button>
            </div>
        </form>
    </div>
</dialog>
{% endblock %}

{% block scripts %}
<script>
    function openAddModal() {
        document.getElementById('addModal').showModal();
    }
    function closeAddModal() {
        document.getElementById('addModal').close();
    }
    function resetAddForm(form) {
        closeAddModal();
        form.reset();
    }
    function openDeleteModal(name) {
        document.getElementById('deleteName').value = name;
        document.getElementById('deleteItemName').textContent = name;
        document.getElementById('deleteModal').showModal();
    }
    function closeDeleteModal() {
        document.getElementById('deleteModal').close();
    }
    function openErrorModal() {
        document.getElementById('errorModal').showModal();
    }
    function closeErrorModal() {
        document.getElementById('errorModal').close();
    }
    function openEditModal(name, category, value, description) {
        document.getElementById('editName').value = name;
        document.getElementById('editCategory').value = category;
        document.getElementById('editValue').value = value;
        document.getElementById('editDescription').value = description;
        document.getElementById('editModal').showModal();
    }
    function closeEditModal() {
        document.getElementById('editModal').close();
    }
</script>
{% endblock %}
